
.sample-modal {
  width: 350px;
  padding: 5px;
  border: 2px solid #186db4;
  background-color: #fff;
  display: none;
}

.sample-dark {
  color: #fafafa;
  background-color: #4d4f44
}

.plainmodal-close {
  cursor: pointer;
}

.plainmodal-close.sample {
  display: inline-block;
  padding: 1px 3px;
  color: #fff;
  background-color: #224388;
}

.plainmodal-close.sample:hover {
  background-color: #1f99e2;
}

/* ==================================== sample-01 */

#sample-01 {
  width: 270px;
  /*margin-right: 25px;*/ /* for close-button */
  padding: 10px;
  background-color: #00aa6a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: none;
}

#sample-01 h2, #sample-01 h3 {
  color: #000;
  font-weight: bold;
  font-family: 'Georgia', serif;
}

#sample-01 h2 {
  margin: 0;
  font-size: 24px;
}

#sample-01 h3 {
  margin: 5px 0;
  font-size: 18px;
  text-align: right;
}

#sample-01 p {
  color: #fff;
  font-size: 16px;
  font-family: 'Georgia', serif;
}

#sample-01 img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
}

#sample-01 .plainmodal-close {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -15px;
  top: -15px;
  background: url('../img/plainmodal-close.png') no-repeat;
}

#sample-01 .plainmodal-close:hover {
  background-position: -45px 0;
}

@media only screen and (min-width: 768px) {
  #sample-01 {
    width: 450px;
    /*margin-right: 0;*/
    /*height: 400px;*/
    padding: 20px 40px;
  }
  #sample-01:after { /* clearfix */
    content: "";
    clear: both;
    display: block;
  }
  #sample-01 h2 {
    font-size: 36px;
  }
  #sample-01 h3 {
    margin: 10px 0 15px;
    font-size: 20px;
  }
  #sample-01 p {
    font-size: 18px;
  }
  #sample-01 img {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
  }
}

/* ==================================== sample-02a */

#sample-02a {
  background-color: #fff;
  display: none;
}

/* ==================================== sample-02b */

#sample-02b {
  width: 400px;
  height: 300px;
}

#sample-02b-bg {
  stroke: #0e1bac;
  stroke-width: 10px;
  fill: #2069b9;
}

#sample-02b-bgline {
  stroke: #bfd8fd;
  stroke-width: 50px;
  fill: none;
}

#sample-02b p {
  margin: 0;
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: 18px;
  text-align: center;
}

#sample-02b .sample-close {
  text-align: right;
}

