
.sample-modal {
  width: 350px;
  padding: 5px;
  border: 2px solid #186db4;
  background-color: #fff;
  display: none;
}

.sample-dark {
  color: #fafafa;
  background-color: #4d4f44
}

.plainmodal-close {
  cursor: pointer;
}

.plainmodal-close.sample {
  display: inline-block;
  padding: 1px 3px;
  color: #fff;
  background-color: #224388;
}

.plainmodal-close.sample:hover {
  background-color: #1f99e2;
}

/* ==================================== sample-01 */

#sample-01 {
  width: 450px;
  /*height: 400px;*/
  padding: 20px 40px;
  color: #fff;
  background-color: #00aa6a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: none;
  font-family: 'Georgia', serif;
}

#sample-01:after { /* clearfix */
  content: "";
  clear: both;
  display: block;
}

#sample-01 p {
  font-size: 18px;
}

#sample-01 .sample-head {
  margin: 0 0 15px;
  font-size: 36px;
  font-weight: bold;
}

#sample-01 img {
  float: left;
  margin-right: 10px;
}

#sample-01 .plainmodal-close {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -15px;
  top: -15px;
  background: url('../img/plainmodal-close.png') no-repeat;
}

#sample-01 .plainmodal-close:hover {
  background-position: -45px 0;
}

/* ==================================== sample-02a */

#sample-02a {
  background-color: #fff;
  display: none;
}

/* ==================================== sample-02b */

#sample-02b {
  width: 400px;
  height: 300px;
}

#sample-02b-bg {
  stroke: #0e1bac;
  stroke-width: 10px;
  fill: #2069b9;
}

#sample-02b-bgline {
  stroke: #bfd8fd;
  stroke-width: 50px;
  fill: none;
}

#sample-02b p {
  margin: 0;
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: 18px;
  text-align: center;
}

#sample-02b .sample-close {
  text-align: right;
}

